body {
    margin: 5px;
    padding: 5px;
    background: rgb(0, 194, 242);
    background: linear-gradient( 135deg, rgb(140, 109, 214) 0%, rgb(36, 212, 235) 100%);
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.div {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

.container {
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
    color: black;
}

.jumbotron {
    background-color: whitesmoke;
}

#bottom {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

button {
    background-color: red;
    color: white;
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: whitesmoke;
}


/* .gallery {
    background-color: whitesmoke;
} */

.gallery img {
    border-radius: 10%;
}

.gallery1 {
    background-color: whitesmoke;
}

.gallery1 img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

footer {
    font-size: 1rem;
    margin: 20px;
    padding: 20px;
}

img:hover {
    border: 5px solid black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 1000;
    font-size: 250%;
}


/* ,,,..................... */


/* 
.feature {
    color: #fff;
}

.feature ul {
    padding-left: 2rem;
    list-style-type: none;
}

.feature ul li {
    padding-left: 2rem;
    background-image: url(../img/check.svg);
    background-repeat: no-repeat;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.icon {
    color: #fff;
    height: 5rem;
    width: 5rem;
    font-size: 1.75rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 5%;
}

.services {
    color: #fff;
}

footer {
    color: #fff;
    font-size: 1rem;
    margin: 0;
    padding: 1rem;
}

a {
    color: #fff;
    text-decoration: none;
} */

.photos {
    width: 100%;
    display: inline-flex;
}

.container {
    margin: 10px;
    padding: 10px;
}

.gradient {
    margin: 10px;
    padding: 10px;
}

.mba {
    margin: 10px;
    padding: 10px;
}

.bottom {
    padding: 20px;
    background-color: gray;
    text-align: center;
    width: 100%;
}

body {
    margin: 5px;
    padding: 5px;
    background: rgb(0, 194, 242);
    background: linear-gradient( 135deg, rgb(140, 109, 214) 0%, rgb(36, 212, 235) 100%);
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

.div {
    margin: 10px;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

.container {
    margin: 10px;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
    color: black;
}

.jumbotron {
    background-color: whitesmoke;
}

#bottom {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

button {
    background-color: red;
    color: white;
    border-radius: 10px;
}

button:hover {
    color: black;
    background-color: whitesmoke;
}

.gallery img {
    border-radius: 10%;
}

.gallery1 {
    background-color: whitesmoke;
}

.gallery1 img {
    border-radius: 50%;
    width: 350px;
    height: 350px;
}

footer {
    font-size: 1rem;
    margin: 20px;
    padding: 20px;
}

img:hover {
    border: 5px solid black;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-weight: 1000;
    font-size: 250%;
}

.photos {
    width: 100%;
    display: inline-flex;
}

.container {
    margin: 10px;
    padding: 10px;
}

.gradient {
    margin: 10px;
    padding: 10px;
}

.mba {
    margin: 10px;
    padding: 10px;
}

.bottom {
    padding: 20px;
    background-color: gray;
    text-align: center;
    width: 100%;
}

.form {
    margin: auto;
    padding: 20px;
    width: 50%;
    height: 700px;
    border: 3px solid black;
    padding: 10px;
    background-color: whitesmoke;
}